<div><%= @player_name %> chose <%= @player_action.capitalize %>...</div><br>

<div>...the Computer chose <%= @computer_action.capitalize %></div><br>

<h2><%= @player_action.capitalize %> vs. <%= @computer_action.capitalize %></h2><br>

<% if @result == "win" %>
  <div>You won!</div>
<% elsif @result == "draw" %>
  <div>It's a draw!</div>
<% elsif @result == "loss" %>
  <div>You lost!</div>
<% end %><br>

<form action="/select-action" method="get">
  <input type="submit" value="Play again"/>
</form>
