<div class="row">

<div class="col-sm">
<h2> <%= @player_1_name%> <%=@player_1_points %> </h2>
<%= @player_1_choice %>
</div>
<div class="col-sm">
  <div id="delay"><%= @result %></div>

</div>

<div class="col-sm">
  <h2><%= @player_2_name %> <%=@player_2_points %> </h2>

  <div id="showMe"><%= @player_2_choice %> </div>


</div>

</div>
