<html>
<head>
<style>
h1 {
  text-align: center;
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("https://img.freepik.com/free-photo/rock-paper-scissors-gambling-hand-game-all-ages-sex-this-is-asian-male-hands-post-white-background_39476-727.jpg?size=626&ext=jpghttps://img.freepik.com/free-photo/rock-paper-scissors-gambling-hand-game-all-ages-sex-this-is-asian-male-hands-post-white-background_39476-727.jpg?size=626&ext=jpg");
  background-size: cover;
  background-color: white;
}
</style>
</head>
<body>
<h1><%= @player_1.name %> vs. <%= @computer.name %>!</h1><br>

<h1><%= @player_weapon %> vs. <%= @game.computer_choice %>!</h1><br>

<h1><%= @game.outcome %></h1>
</body>
</html>


