<h1><%= @player_1.name %> vs. <%= @computer.name %>!</h1><br>

<h1><%= @player_weapon %> vs. <%= @game.computer_choice %>!</h1><br>

<h1><%= @game.outcome %></h1>

<!--
<h1>
<% if @player_weapon.to_sym == @game.computer_choice %>
  Tie!
<% elsif @player_weapon.to_sym == :rock && @game.computer_choice == :paper %>
  You lose! paper covers rock!
<% elsif @player_weapon.to_sym == :paper && @game.computer_choice == :rock %>
  You win! paper covers rock!
<% elsif @player_weapon.to_sym == :rock && @game.computer_choice == :scissors %>
  You win! rock smashes scissors!
<% elsif @player_weapon.to_sym == :scissors && @game.computer_choice == :rock %>
  You win! rock smashes scissors!
<% elsif @player_weapon.to_sym == :paper && @game.computer_choice == :scissors %>
  You lose! scissors cut paper!
<% elsif @player_weapon.to_sym == :scissors && @game.computer_choice == :paper %>
  You win! scissors cut paper!
<% end %>
</h1>
-->



