<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>RPS GAME</title>
  <link href="<%= src='/styles.css' %>" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&family=Satisfy&family=Zen+Kurenaido&display=swap"
    rel="stylesheet">
</head>

<body class="container">

<form action="/">
<button type="submit" value="submit" class="button-52" role="button">🔙 Go to Start!</button>
</form>

<h1><%= @game.player_one.name.capitalize %> VS <%= @game.player_two.name.capitalize %></h1>

<form action="/player_one_move" method="post" class="row">
  <div>
  <label>
    <input type="radio" name="move" value="Rock">
    <span for="Rock">Rock</span>
  </label> 
  <label>
    <input type="radio" name="move" value="Paper">
    <span for="Paper">Paper</span>
  </label> 
  <label>
    <input type="radio" name="move" value="Scissor">
    <span for="Scissor">Scissor</span>
  </label> 
    <button type="submit" value="submit" class="button-53" role="button"><%= @game.player_one.name.capitalize %> Confirm Selection</button>
  </div>
</form>

<% if @game_mode == 'multiplayer' && !@game.player_two.move %>
<form action="/player_two_move" method="post" class="row">
  <div>
  <label>
    <input type="radio" name="move" value="Rock">
    <span for="Rock">Rock</span>
  </label>
  <label>
    <input type="radio" name="move" value="Paper">
    <span for="Paper">Paper</span>
  </label>
  <label>  
    <input type="radio" name="move" value="Scissor">
    <span for="Scissor">Scissor</span>
  </label>
    <button type="submit" value="submit" class="button-52" role="button"><%= @game.player_two.name.capitalize %> Confirm Selection</button>
  </div>
</form>
<% end %>

<% if @game_mode == 'single_player' && !!@game.player_one.move %>
<% @game.player_two.make_move if @game.player_two.name == 'Computer' %>

<ul class="row-2">
<br><%= @game.player_one.name.capitalize %> played <%= @game.player_one.move.capitalize %>
<br><%= @game.player_two.name.capitalize %> played <%= @game.player_two.move.capitalize %>
</ul>

<% @winner = @game.player_one.name if Results.new.check(@game.player_one.move, @game.player_two.move) == "Player 1" %>
<% @winner = @game.player_two.name if Results.new.check(@game.player_one.move, @game.player_two.move) == "Player 2" %>
<% @winner = "Nobody" if Results.new.check(@game.player_one.move, @game.player_two.move) == "Nobody" %>

<ul class="row-3">
<br><%= @winner %> wins!
</ul>

<% @game.player_one.move = nil; @game.player_two.move %>

<form action="/play" method="get" class="row">
<button type="submit" value="submit" class="button-51" role="button">Play Again?</button>
</form>
<% end %>

<% if @game_mode == 'multiplayer' && !!@game.player_one.move && !!@game.player_two.move %>
<% @game.player_two.make_move if @game.player_two.name == 'Computer' %>

<ul class="row-2">
<br><%= @game.player_one.name.capitalize %> played <%= @game.player_one.move.capitalize %>
<br><%= @game.player_two.name.capitalize %> played <%= @game.player_two.move.capitalize %>
</ul>

<% @winner = @game.player_one.name if Results.new.check(@game.player_one.move, @game.player_two.move) == "Player 1" %>
<% @winner = @game.player_two.name if Results.new.check(@game.player_one.move, @game.player_two.move) == "Player 2" %>
<% @winner = "Nobody" if Results.new.check(@game.player_one.move, @game.player_two.move) == "Nobody" %>

<ul class="row-3">
<br><%= @winner %> wins!
</ul>

<% @game.player_one.move = nil; @game.player_two.move = nil %>
<form action="/play" method="get">
<button type="submit" value="submit" class="button-51" role="button">Play Again?</button>
</form>
<% end %>

</body>
<footer>
  By Khushnood Asif
</footer>
