<h1><%= @game.player_one.name.capitalize %> VS <%= @game.player_two.name.capitalize %></h1>

<form action="/player_one_move" method="post">
  <div>
    <input type="radio" name="move" value="Rock">
    <label for="Rock">Rock</label>
   
    <input type="radio" name="move" value="Paper">
    <label for="Paper">Paper</label>
    
    <input type="radio" name="move" value="Scissor">
    <label for="Scissor">Scissor</label>
    
    <button type="submit" value="submit"><%= @game.player_one.name.capitalize %> Confirm Selection</button>
  </div>
</form>

<% if @game_mode == 'multiplayer' && !@game.player_two.move %>
<form action="/player_two_move" method="post">
  <div>
    <input type="radio" name="move" value="Rock">
    <label for="Rock">Rock</label>
   
    <input type="radio" name="move" value="Paper">
    <label for="Paper">Paper</label>
    
    <input type="radio" name="move" value="Scissor">
    <label for="Scissor">Scissor</label>
    <button type="submit" value="submit"><%= @game.player_two.name.capitalize %> Confirm Selection</button>
  </div>
</form>
<% end %>

<% if @game_mode == 'single_player' && !!@game.player_one.move %>
<% @game.player_two.make_move if @game.player_two.name == 'Computer' %>

<br><%= @game.player_one.name.capitalize %> played <%= @game.player_one.move.capitalize %>
<br><%= @game.player_two.name.capitalize %> played <%= @game.player_two.move.capitalize %>

<% @winner = @game.player_one.name if Results.new.check(@game.player_one.move, @game.player_two.move) == "Player 1" %>
<% @winner = @game.player_two.name if Results.new.check(@game.player_one.move, @game.player_two.move) == "Player 2" %>
<% @winner = "Nobody" if Results.new.check(@game.player_one.move, @game.player_two.move) == "Nobody" %>

<br><%= @winner %> wins!

<% @game.player_one.move = nil; @game.player_two.move %>

<form action="/play" method="get">
<button type="submit" value="submit">Play Again?</button>
</form>
<% end %>

<% if @game_mode == 'multiplayer' && !!@game.player_one.move && !!@game.player_two.move %>
<% @game.player_two.make_move if @game.player_two.name == 'Computer' %>

<br><%= @game.player_one.name %> played <%= @game.player_one.move %>
<br><%= @game.player_two.name %> played <%= @game.player_two.move %>
<% @winner = @game.player_one.name if Results.new.check(@game.player_one.move, @game.player_two.move) == "Player 1" %>
<% @winner = @game.player_two.name if Results.new.check(@game.player_one.move, @game.player_two.move) == "Player 2" %>
<% @winner = "Nobody" if Results.new.check(@game.player_one.move, @game.player_two.move) == "Nobody" %>
<br><%= @winner %> wins!
<% @game.player_one.move = nil; @game.player_two.move = nil %>
<form action="/play" method="get">
<button type="submit" value="submit">Play again</button>
</form>
<% end %>