<h1>Hi <%= @game.player.name %> </h1>
<h2>You chose: <%= @game.player.choice %> </h2><br>


<h1> <%= @game.play %> </h1>
<h2> (<%= @game.player.choice %> vs. <%= @game.move %>) </h2>
<br><br>

<a href='/option'><h4>Go again?</h4></a>



