<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper and Scissors</title>
	<style type="text/css">
		body {
			text-align: center;
			display: flex; 
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		.player {
			width: 45vw;
		}
		.player h2 {
			color: hotpink;
		}
		.computer {
			width: 45vw;
		}
		.result {
			text-align: center;
			width: 100vw; 
		}
		.message {
			font-size: 50px;
			padding-top: 100px;
			color: green;
			text-shadow: 2px pink;
		}
	</style>
</head>
<body>
	<div class="player">
		<h2>Player 1: <%= @player_name %></h2>
		<% if !@player_move %>
			<form action='/play' method="post"> 
				<label for="player_move">Select your move: </label>
				<select name="player_move">
					<option value="rock">rock</option>
					<option value="paper">paper</option>
					<option value="scissors">scissors</option>
				</select>
				<input type="submit" value="submit">
			</form>
		<% end %>
		<% if @player_move %>
			<p>Your move: <%= @player_move %></p>
		<% end %>
	</div>
	<div class="computer">
		<h2>Player 2: Computer</h2>
		<% if @computer_move %>
			Computer's move: <%= @computer_move %>
		<% end %>
	</div>
	<div class="result">
		<% if @winner %>
			<p class="message">The winner is:  
				<span style= "color:<%=@color%>;"><%= @winner %></span>
			</p>
			<p class="message">Now get on with your life</p>
		<% end %>
	</div>
</body>
</html>