<form action="/"> 
  <h1><%=@name%> vs. Computer</h1>
  <h2><%=@name%> chose <%=@player_hand%></h2>
  <h2>Computer chose <%=@computer_hand%></h2>
  <h2><%=@winner%></h2>
  <input for="restart" name="restart" class="submit" type="submit" value="Restart">
<form>