<h1> Welcome to Rock Paper Scissors </h1>
<p style="font-size:100px">&#128511; &#128209; &#9986; &#129422; &#128406</p>
<%= @game.player_one.player_name %> selected: <%= @game.player_one.move %>
<br>
<%= @game.player_two.player_name %> selected: <%= @game.player_two.move %>
<br>
<h2> <%= @winner %> </h2>
<h3> Do you want a rematch? </h3>
<form action = '/play'>
  <input type = 'submit' value = 'Yes' >
</form>
