<form action="/"> 
  <h1><%=@name%> vs. Computer</h1>
  <h2><%=@name%> chose <%=@player_choice%></h2>
  <h2>Computer chose <%=@computer_choice%></h2>
  <h2><%=@winner%></h2>
  <input for="play-again" name="play-again" class="submit" type="submit" value="Play Again">
<form>
